# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import ast

# Load Data

In [3]:
# Read in checkpoint 3
df = pd.read_csv('checkpoint_3.csv')
# df_read_in.info()
df['lat_lon'] = df['lat_lon'].apply(ast.literal_eval).apply(lambda x: (float(x[0]), float(x[1]))) # Change to tuple of floats

In [4]:
df

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,lease_commence_date,storey_range,_id,...,num_MI_sch_1km_radius,closest_Uni_sch_dist,closest_Uni_sch,num_Uni_sch_1km_radius,closest_mall_dist,closest_mall,num_mall_1km_radius,closest_park_dist,closest_park,num_park_1km_radius
0,ANG MO KIO,2 ROOM,Improved,44.0,ANG MO KIO AVE 10,232000.0,2017-01,1979.0,10 TO 12,1,...,0,7408.201434,Singapore Management University,0,1013.992058,AMK Hub,0,1032.586022,Ang Mo Kio Town Garden East,0
1,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 4,250000.0,2017-01,1978.0,01 TO 03,2,...,0,8371.125772,Singapore University of Social Sciences,0,894.265975,Broadway Plaza,1,658.451197,Ang Mo Kio Town Garden West,2
2,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 5,262000.0,2017-01,1980.0,01 TO 03,3,...,0,8802.805943,Singapore University of Social Sciences,0,1525.573038,Broadway Plaza,0,1111.238041,Ang Mo Kio Town Garden West,0
3,ANG MO KIO,3 ROOM,New Generation,68.0,ANG MO KIO AVE 10,265000.0,2017-01,1980.0,04 TO 06,4,...,0,7897.637286,Singapore Management University,0,893.795634,myVillage At Serangoon Garden,1,898.087299,Ang Mo Kio Town Garden East,1
4,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 5,265000.0,2017-01,1980.0,01 TO 03,5,...,0,8807.296192,Singapore University of Social Sciences,0,1569.306143,Broadway Plaza,0,1155.199842,Ang Mo Kio Town Garden West,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149321,YISHUN,EXECUTIVE,Maisonette,146.0,YISHUN CTRL,800000.0,2023-03,1988.0,10 TO 12,149322,...,0,13379.711491,Singapore University of Social Sciences,0,432.877723,Junction Nine,2,279.490328,Yishun Pond Park,1
149322,YISHUN,EXECUTIVE,Maisonette,146.0,YISHUN RING RD,800000.0,2023-03,1988.0,01 TO 03,149323,...,0,13232.047301,Singapore University of Social Sciences,0,931.337725,Wisteria Mall,2,661.649827,Yishun Pond Park,1
149323,YISHUN,EXECUTIVE,Apartment,142.0,YISHUN RING RD,770000.0,2023-03,1988.0,04 TO 06,149324,...,0,13428.149563,Singapore Institute of Technology,0,739.745345,Junction Nine,1,825.343534,Yishun Pond Park,1
149324,YISHUN,EXECUTIVE,Maisonette,146.0,YISHUN RING RD,818000.0,2023-03,1987.0,10 TO 12,149325,...,0,11979.803115,Singapore University of Social Sciences,0,965.509600,Northpoint City,1,976.514291,Sembawang Park,1
149325,YISHUN,EXECUTIVE,Apartment,164.0,YISHUN ST 61,975000.0,2023-03,1992.0,01 TO 03,149326,...,0,12422.066468,Singapore University of Social Sciences,0,439.848531,Wisteria Mall,2,761.073177,Yishun Pond Park,1

# Overview of data

In [11]:
all_columns = df.columns
all_columns

Index(['town', 'flat_type', 'flat_model', 'floor_area_sqm', 'street_name',
       'resale_price', 'month', 'lease_commence_date', 'storey_range', '_id',
       'block', 'remaining_lease_mth', 'storey_range_lower', 'address_str',
       'lat_lon', 'closest_mrt_dist', 'closest_mrt', 'num_mrt_1km_radius',
       'closest_Pri_sch_dist', 'closest_Pri_sch', 'num_Pri_sch_1km_radius',
       'closest_Sec_sch_dist', 'closest_Sec_sch', 'num_Sec_sch_1km_radius',
       'closest_JC_sch_dist', 'closest_JC_sch', 'num_JC_sch_1km_radius',
       'closest_MI_sch_dist', 'closest_MI_sch', 'num_MI_sch_1km_radius',
       'closest_Uni_sch_dist', 'closest_Uni_sch', 'num_Uni_sch_1km_radius',
       'closest_mall_dist', 'closest_mall', 'num_mall_1km_radius',
       'closest_park_dist', 'closest_park', 'num_park_1km_radius'],
      dtype='object')

In [10]:
df.describe()

,floor_area_sqm,resale_price,lease_commence_date,_id,remaining_lease_mth,storey_range_lower,closest_mrt_dist,num_mrt_1km_radius,closest_Pri_sch_dist,num_Pri_sch_1km_radius,...,closest_JC_sch_dist,num_JC_sch_1km_radius,closest_MI_sch_dist,num_MI_sch_1km_radius,closest_Uni_sch_dist,num_Uni_sch_1km_radius,closest_mall_dist,num_mall_1km_radius,closest_park_dist,num_park_1km_radius
count,149326.000000,1.493260e+05,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,...,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000,149326.000000
mean,97.554577,4.796709e+05,1995.547574,74663.500000,897.016394,7.753003,825.916583,1.089663,415.392792,3.175435,...,2627.646207,0.148434,3284.127798,0.069881,6012.588549,0.018925,661.743992,1.751939,1199.168794,0.530363
std,24.078504,1.659436e+05,13.755236,43106.847486,164.151103,5.943203,468.414288,1.071139,253.834364,1.710380,...,1468.455730,0.356696,1747.905921,0.278906,3715.687769,0.136261,376.043453,1.340323,589.341903,0.710288
min,31.000000,1.400000e+05,1966.000000,1.000000,512.000000,1.000000,36.079525,0.000000,42.554861,0.000000,...,104.518842,0.000000,121.560279,0.000000,365.789642,0.000000,0.000000,0.000000,0.000000,0.000000
25%,82.000000,3.590000e+05,1985.000000,37332.250000,765.000000,4.000000,468.474421,0.000000,237.007594,2.000000,...,1350.063882,0.000000,1789.813791,0.000000,3020.459746,0.000000,383.912933,1.000000,759.316874,0.000000
50%,94.000000,4.500000e+05,1996.000000,74663.500000,897.000000,7.000000,733.847264,1.000000,367.362787,3.000000,...,2490.698348,0.000000,3028.496864,0.000000,5584.169715,0.000000,590.630017,2.000000,1109.018732,0.000000
75%,113.000000,5.680000e+05,2007.000000,111994.750000,1041.000000,10.000000,1099.283793,2.000000,532.722350,4.000000,...,3838.904601,0.000000,4574.691694,0.000000,7762.375394,0.000000,870.030998,3.000000,1600.244317,1.000000
max,249.000000,1.418000e+06,2019.000000,149326.000000,1173.000000,49.000000,3646.118943,10.000000,5571.974181,11.000000,...,7933.766934,2.000000,13770.019462,2.000000,14899.376006,1.000000,4009.098531,15.000000,7566.859530,6.000000

In [14]:
numeric_columns = df.describe().columns
category_columns = all_columns[~all_columns.isin(numeric_columns)]
category_columns

Index(['town', 'flat_type', 'flat_model', 'street_name', 'month',
       'storey_range', 'block', 'address_str', 'lat_lon', 'closest_mrt',
       'closest_Pri_sch', 'closest_Sec_sch', 'closest_JC_sch',
       'closest_MI_sch', 'closest_Uni_sch', 'closest_mall', 'closest_park'],
      dtype='object')

In [18]:
for i in numeric_columns:
    x = pd.DataFrame(df[i].value_counts(normalize=True))
    print(f'The distribution for {i} is {x}')

The distribution for floor_area_sqm is        floor_area_sqm
93.0         0.069412
92.0         0.062883
67.0         0.061456
110.0        0.047996
68.0         0.038051
...               ...
210.0        0.000007
241.0        0.000007
167.0        0.000007
180.0        0.000007
100.2        0.000007

[170 rows x 1 columns]
The distribution for resale_price is           resale_price
450000.0      0.012677
420000.0      0.012429
400000.0      0.012349
380000.0      0.011766
350000.0      0.011405
...                ...
568124.0      0.000007
674888.0      0.000007
480188.0      0.000007
587588.0      0.000007
540388.0      0.000007

[3426 rows x 1 columns]
The distribution for lease_commence_date is         lease_commence_date
1985.0             0.059702
2015.0             0.059688
1984.0             0.044038
1988.0             0.037555
2016.0             0.036618
2001.0             0.033363
2013.0             0.030932
1997.0             0.030490
1987.0             0.030276
2003.0             0.029138
1998.0             0.028026
1999.0             0.027725
1978.0             0.027691
2017.0             0.027644
1986.0             0.027095
2000.0             0.026104
1996.0             0.024724
1989.0             0.024637
2012.0             0.023044
2002.0             0.022514
1993.0             0.022461
1979.0             0.022133
2014.0             0.021972
1980.0             0.021671
2018.0             0.019434
1992.0             0.017572
2004.0             0.016976
1995.0             0.016427
1976.0             0.016199
1983.0             0.015463
1981.0             0.015054
1977.0             0.013460
1975.0             0.012791
2011.0             0.012135
1974.0             0.010360
1982.0             0.009918
2005.0             0.008900
1970.0             0.008337
2006.0             0.007895
1990.0             0.006911
2008.0             0.006496
1994.0             0.005753
1973.0             0.005645
2009.0             0.005612
1967.0             0.004909
1969.0             0.004795
1972.0             0.004487
1971.0             0.004373
2010.0             0.004346
2007.0             0.002679
2019.0             0.001500
1968.0             0.001226
1991.0             0.001011
1966.0             0.000094
The distribution for _id is              _id
1       0.000007
99524   0.000007
99544   0.000007
99545   0.000007
99546   0.000007
...          ...
49774   0.000007
49775   0.000007
49776   0.000007
49777   0.000007
149326  0.000007

[149326 rows x 1 columns]
The distribution for remaining_lease_mth is       remaining_lease_mth
1138             0.009121
1137             0.008954
1139             0.008820
1136             0.007849
1140             0.007608
...                   ...
1167             0.000007
1169             0.000007
1173             0.000007
1165             0.000007
514              0.000007

[659 rows x 1 columns]
The distribution for storey_range_lower is     storey_range_lower
4             0.230435
7             0.209461
10            0.186418
1             0.176942
13            0.095610
16            0.044949
19            0.019146
22            0.013963
25            0.008284
28            0.005257
31            0.002793
34            0.002639
37            0.002344
40            0.001125
43            0.000321
46            0.000228
49            0.000087
The distribution for closest_mrt_dist is              closest_mrt_dist
1300.418490          0.000931
430.114675           0.000750
1452.334227          0.000730
445.202250           0.000730
380.451998           0.000676
...                       ...
444.962635           0.000007
1378.104066          0.000007
589.199975           0.000007
984.966278           0.000007
361.932697           0.000007

[9432 rows x 1 columns]
The distribution for num_mrt_1km_radius is     num_mrt_1km_radius
1             0.416538
0             0.305754
2             0.206220
3             0.054110
4             0.006543
5             0.003101
8             0.002391
6             0.002176
7             0.002063
9             0.000991
10            0.000114
The distribution for closest_Pri_sch_dist is             closest_Pri_sch_dist
227.387058              0.000931
246.564798              0.000750
129.511289              0.000730
364.760923              0.000730
192.272158              0.000676
...                          ...
317.782635              0.000007
467.088344              0.000007
264.752782              0.000007
626.242331              0.000007
462.853093              0.000007

[9432 rows x 1 columns]
The distribution for num_Pri_sch_1km_radius is     num_Pri_sch_1km_radius
3                 0.242309
2                 0.237199
4                 0.176593
1                 0.114963
5                 0.102266
6                 0.053279
0                 0.030885
7                 0.025387
8                 0.011646
9                 0.003944
10                0.001406
11                0.000121
The distribution for closest_Sec_sch_dist is             closest_Sec_sch_dist
523.238090              0.000931
453.295838              0.000750
333.222018              0.000730
430.743485              0.000730
504.064163              0.000676
...                          ...
330.976028              0.000007
126.341678              0.000007
485.735293              0.000007
518.556852              0.000007
431.259673              0.000007

[9432 rows x 1 columns]
The distribution for num_Sec_sch_1km_radius is    num_Sec_sch_1km_radius
2                0.289574
1                0.256359
3                0.227228
4                0.114488
0                0.070503
5                0.035031
6                0.005980
7                0.000837
The distribution for closest_JC_sch_dist is              closest_JC_sch_dist
5310.103352             0.000931
2833.476572             0.000750
5483.704917             0.000730
1087.080302             0.000730
2778.669817             0.000676
...                          ...
2547.042455             0.000007
2648.439049             0.000007
1218.839608             0.000007
943.274897              0.000007
2142.856794             0.000007

[9432 rows x 1 columns]
The distribution for num_JC_sch_1km_radius is    num_JC_sch_1km_radius
0               0.851982
1               0.147603
2               0.000415
The distribution for closest_MI_sch_dist is              closest_MI_sch_dist
5951.626793             0.000931
4628.787581             0.000750
5799.121615             0.000730
3357.687705             0.000730
4683.064972             0.000676
...                          ...
1473.446600             0.000007
2597.444069             0.000007
4691.257743             0.000007
1685.305650             0.000007
5042.236065             0.000007

[9432 rows x 1 columns]
The distribution for num_MI_sch_1km_radius is    num_MI_sch_1km_radius
0               0.936515
1               0.057090
2               0.006395
The distribution for closest_Uni_sch_dist is              closest_Uni_sch_dist
7927.092589              0.000931
3256.617063              0.000750
8043.978221              0.000730
4611.745863              0.000730
3202.160504              0.000676
...                           ...
4728.985057              0.000007
6699.107540              0.000007
3521.490084              0.000007
3649.827256              0.000007
2571.650875              0.000007

[9432 rows x 1 columns]
The distribution for num_Uni_sch_1km_radius is    num_Uni_sch_1km_radius
0                0.981075
1                0.018925
The distribution for closest_mall_dist is              closest_mall_dist
193.717883            0.000931
882.144674            0.000750
799.749417            0.000730
377.010029            0.000730
860.750055            0.000676
...                        ...
153.341848            0.000007
227.013833            0.000007
842.425613            0.000007
1381.971175           0.000007
873.675516            0.000007

[9428 rows x 1 columns]
The distribution for num_mall_1km_radius is     num_mall_1km_radius
1              0.294919
2              0.271024
3              0.178582
0              0.172703
4              0.053487
5              0.022407
6              0.003221
7              0.001406
8              0.001018
15             0.000609
9              0.000328
13             0.000295
The distribution for closest_park_dist is              closest_park_dist
563.733340            0.000931
1677.376850           0.000750
719.336854            0.000730
765.711833            0.000730
1702.150934           0.000676
...                        ...
844.460361            0.000007
640.093700            0.000007
1437.105557           0.000007
1093.530689           0.000007
1588.583771           0.000007

[9432 rows x 1 columns]
The distribution for num_park_1km_radius is    num_park_1km_radius
0             0.573885
1             0.340731
2             0.069653
3             0.013574
4             0.001667
6             0.000489

In [19]:
for i in category_columns:
    x = pd.DataFrame(df[i].value_counts(normalize=True))
    print(f'The distribution for {i} is {x}')

The distribution for town is                      town
SENGKANG         0.084165
PUNGGOL          0.073651
WOODLANDS        0.069613
YISHUN           0.068521
TAMPINES         0.067256
JURONG WEST      0.066137
BEDOK            0.053956
HOUGANG          0.049040
CHOA CHU KANG    0.045920
ANG MO KIO       0.041754
BUKIT MERAH      0.038346
BUKIT PANJANG    0.038252
BUKIT BATOK      0.033671
TOA PAYOH        0.031990
PASIR RIS        0.030825
KALLANG/WHAMPOA  0.030035
QUEENSTOWN       0.028488
GEYLANG          0.024912
SEMBAWANG        0.024892
CLEMENTI         0.022910
JURONG EAST      0.020840
BISHAN           0.018925
SERANGOON        0.018597
CENTRAL AREA     0.008317
MARINE PARADE    0.006389
BUKIT TIMAH      0.002598
The distribution for flat_type is                   flat_type
4 ROOM             0.417958
5 ROOM             0.252829
3 ROOM             0.235344
EXECUTIVE          0.077321
2 ROOM             0.015670
MULTI-GENERATION   0.000482
1 ROOM             0.000395
The distribution for flat_model is                         flat_model
Model A                   0.336298
Improved                  0.248885
New Generation            0.126287
Premium Apartment         0.115010
Simplified                0.039102
Apartment                 0.038868
Maisonette                0.029379
Standard                  0.028126
DBSS                      0.017954
Model A2                  0.011465
Model A-Maisonette        0.001822
Adjoined flat             0.001781
Type S1                   0.001761
Type S2                   0.001011
Premium Apartment Loft    0.000616
Terrace                   0.000596
Multi Generation          0.000482
2-room                    0.000275
Improved-Maisonette       0.000141
Premium Maisonette        0.000094
3Gen                      0.000047
The distribution for street_name is                     street_name
YISHUN RING RD         0.014699
PUNGGOL DR             0.011599
BEDOK RESERVOIR RD     0.010929
PUNGGOL FIELD          0.010541
ANG MO KIO AVE 10      0.009623
...                         ...
KRETA AYER RD          0.000033
SEMBAWANG WAY          0.000013
ALJUNIED AVE 2         0.000007
GEYLANG EAST AVE 2     0.000007
MARINE PARADE CTRL     0.000007

[564 rows x 1 columns]
The distribution for month is             month
2021-08  0.018342
2021-07  0.017807
2022-09  0.017278
2021-11  0.017184
2023-01  0.017117
...           ...
2018-02  0.007922
2017-02  0.007266
2018-01  0.007179
2020-04  0.002839
2020-05  0.002431

[75 rows x 1 columns]
The distribution for storey_range is           storey_range
04 TO 06      0.230435
07 TO 09      0.209461
10 TO 12      0.186418
01 TO 03      0.176942
13 TO 15      0.095610
16 TO 18      0.044949
19 TO 21      0.019146
22 TO 24      0.013963
25 TO 27      0.008284
28 TO 30      0.005257
31 TO 33      0.002793
34 TO 36      0.002639
37 TO 39      0.002344
40 TO 42      0.001125
43 TO 45      0.000321
46 TO 48      0.000228
49 TO 51      0.000087
The distribution for block is          block
2     0.003194
8     0.003054
1     0.002873
9     0.002799
101   0.002732
...        ...
860A  0.000007
863B  0.000007
442A  0.000007
363A  0.000007
858B  0.000007

[2656 rows x 1 columns]
The distribution for address_str is                          address_str
308A PUNGGOL WALK           0.000931
87 DAWSON RD                0.000750
308C PUNGGOL WALK           0.000730
139A LOR 1A TOA PAYOH       0.000730
88 DAWSON RD                0.000676
...                              ...
138 SERANGOON NTH AVE 2     0.000007
670 HOUGANG AVE 8           0.000007
410 EUNOS RD 5              0.000007
650 YISHUN AVE 4            0.000007
52 STIRLING RD              0.000007

[9434 rows x 1 columns]
The distribution for lat_lon is                                        lat_lon
(1.4077542563694, 103.90090623665)    0.000931
(1.2957304268451, 103.809759937443)   0.000750
(1.40800694944027, 103.899074357998)  0.000730
(1.33627775831234, 103.844044881122)  0.000730
(1.29579395038247, 103.809264765809)  0.000676
...                                        ...
(1.36187785549525, 103.74945549722)   0.000007
(1.37085850906468, 103.878681068779)  0.000007
(1.34911301335269, 103.718764842328)  0.000007
(1.32740937893968, 103.85723115625)   0.000007
(1.29654548545439, 103.80349863067)   0.000007

[9432 rows x 1 columns]
The distribution for closest_mrt is                              closest_mrt
Sengkang MRT Station            0.094726
Yishun MRT Station              0.043743
Buangkok MRT Station            0.040890
Bukit Panjang MRT Station       0.037709
Punggol MRT Station             0.036270
...                                  ...
Pasir Panjang MRT Station       0.000174
Esplanade MRT Station           0.000167
Botanic Gardens MRT Station     0.000107
Tuas Crescent MRT Station       0.000087
Great World MRT Station         0.000080

[103 rows x 1 columns]
The distribution for closest_Pri_sch is                                  closest_Pri_sch
Teck Ghee Primary School                0.022240
Punggol Green Primary School            0.016528
Sengkang Green Primary School           0.016360
Poi Ching School                        0.013769
Pei Tong Primary School                 0.012918
...                                          ...
St. Stephen's School                    0.000529
St. Joseph's Institution Junior         0.000395
Maris Stella High School                0.000388
CHIJ Our Lady Queen of Peace            0.000301
St. Gabriel's Primary School            0.000054

[172 rows x 1 columns]
The distribution for closest_Sec_sch is                             closest_Sec_sch
Pei Hwa Secondary School           0.024711
Punggol Secondary School           0.021309
Greendale Secondary School         0.020472
Nan Chiau High School              0.020305
Bendemeer Secondary School         0.019963
...                                     ...
Nanyang Girls' High School         0.000616
Assumption English School          0.000516
Raffles Institution                0.000355
Dunman High School                 0.000281
Crescent Girls' School             0.000067

[134 rows x 1 columns]
The distribution for closest_JC_sch is                                    closest_JC_sch
Tampines Meridian Junior College         0.206883
Yishun Innova Junior College             0.156416
Jurong Pioneer Junior College            0.118620
River Valley High School                 0.092013
Anglo-Chinese Junior College             0.070718
Nanyang Junior College                   0.069097
Anderson Serangoon Junior College        0.061195
Temasek Junior College                   0.058583
St. Joseph's Institution                 0.037997
Saint Andrew's Junior College            0.035647
Eunoia Junior College                    0.027008
Raffles Institution                      0.025428
Victoria Junior College                  0.019668
Dunman High School                       0.015771
National Junior College                  0.002277
Catholic Junior College                  0.001741
Hwa Chong Institution                    0.000938
The distribution for closest_MI_sch is                               closest_MI_sch
ITE College Central                 0.217471
ITE College West                    0.185942
Temasek Polytechnic                 0.132408
Republic Polytechnic                0.113423
Singapore Polytechnic               0.098161
Nanyang Polytechnic                 0.075801
Ngee Ann Polytechnic                0.064550
Nanyang Academy of Fine Arts        0.053949
ITE College East                    0.049054
LASALLE College of the Arts         0.009242
The distribution for closest_Uni_sch is                                                closest_Uni_sch
Singapore Institute of Technology                     0.353046
Singapore University of Social Sciences               0.303229
Singapore Management University                       0.162182
Nanyang Technological University                      0.087346
Singapore University of Technology and Design         0.049596
National University of Singapore                      0.044600
The distribution for closest_mall is                            closest_mall
Bedok Mall                     0.045987
Waterway Point                 0.032794
West Mall                      0.031207
Compass One                    0.027992
Wisteria Mall                  0.027042
...                                 ...
Singapore Shopping Centre      0.000121
Duo                            0.000114
Fairprice Hub                  0.000087
Velocity@Novena Square         0.000080
HarbourFront Centre            0.000080

[118 rows x 1 columns]
The distribution for closest_park is                               closest_park
Choa Chu Kang Park                0.060820
Sengkang Sculpture Park           0.059608
Bedok Town Park                   0.055429
Sun Plaza Park                    0.050641
Admiralty Park                    0.048538
Toa Payoh Town Park               0.048337
Jurong Central Park               0.047092
Japanese Cemetery Park            0.042310
Yishun Pond Park                  0.040562
Punggol Park                      0.040261
Sengkang Riverside Park           0.036779
Jurong Lake Gardens               0.034910
Punggol Waterway Park             0.034341
Kallang Riverside Park            0.033437
Marsiling Park                    0.029613
Bukit Batok Town Park             0.028401
Ang Mo Kio Town Garden East       0.026626
Pasir Ris Town Park               0.023332
Zhenghua Park                     0.022139
Tiong Bahru Park                  0.019313
West Coast Park                   0.018443
Tampines Eco Green                0.018396
one-north Park                    0.018383
Yishun Park                       0.017117
East Coast Park                   0.013072
Bishan-Ang Mo Kio Park            0.012597
Ang Mo Kio Town Garden West       0.012309
Yishun Neighbourhood Park         0.011699
Coney Island Park                 0.010681
Clementi Woods Park               0.010172
Telok Blangah Hill Park           0.009087
Sembawang Park                    0.008425
Pasir Ris Park                    0.006998
Lower Seletar Reservoir Park      0.006951
Bukit Batok Nature Park           0.006864
Mount Faber Park                  0.006342
Tanjong Pagar Park                0.005331
The Southern Ridges               0.004802
Dhoby Ghaut Green                 0.003871
Singapore Botanic Gardens         0.003630
MacRitchie Reservoir Park         0.003255
Pearl's Hill City Park            0.003040
Hindhede Nature Park              0.001795
Kent Ridge Park                   0.000951
National Orchid Garden            0.000938
Labrador Park                     0.000884
Hong Lim Park                     0.000368
War Memorial Park                 0.000348
Istana Park                       0.000308
Changi Beach Park                 0.000208
Chek Jawa                         0.000127
Woodlands Waterfront Park         0.000121